ion-content{
    --background: #e0dfe6;
    #header{
        height: 100%;
        background-image: url("/assets/rosado.jpg");
        display: flex;
        flex-direction: column;
        color: #ffffff;
        border-radius: 0px 0px 20px 20px;

        #app-bar{
            height: 60px;
            padding: 0 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            
        }
        p{
            text-align: center;
            font-size: 25px;
            margin-bottom: 45px;
            line-height: 5.5;

        }

        h2{
            text-align: center;
            font-weight: bold;
            margin: 0;
            font-size: 20px;
            letter-spacing: 1px;
            margin-top: 5px;
            font-family: 'Roboto', sans-serif;
        }

    }
    .wrapper{
        position: absolute;
        top: 23%;
        left: 4%;
        right: 4%;

        .form-wrapper{
            box-shadow: 20px;
            border-radius: 20px;
            padding: 15px 10px;
            background: #ffffff;

            ion-item{
                --background: #efefef;
                --padding-start: 10px;
                --highlight-height: 0;
                --border-width: 0;
                --padding-top: 0;
                --min-height: 40px;
                margin-bottom: 15px;
                border-radius: 5px;
            }
            ion-icon{
                font-size: 18px;
            }
            ion-input{
                margin-left: 10px;
                font-size: 14px;
            }
        }

        ion-button{
            margin-top: 1px;
            margin-bottom: 1px;
            letter-spacing: 0;
            font-weight: 400;
            text-transform: 16px;
            
        }
        .line-text{
            padding: 1px;
            margin-top: 1px;
            position: relative;
            height: 40px;

            .lines{
                height: 1px;
                background: #858585;
                display: block;
            }
            .text{
                position: absolute;
                top:-8px;
                left: 50%;
                transform: translateX(-50%);
                background: #fff;
                padding: 0 15px;
                font-size: 12px;
                font-weight: 500;
                color: #5e5e5e;
            }
        }
    }
}

.fuente{
    font-family: 'Oswald', sans-serif;
}