<!-- Tipos de letras utilizadas-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">



<ion-content>
  <div id="header">
    <div id="app-bar">
      <!-- Flecha para devolverse -->
      <ion-icon name="arrow-back" routerLink="/docente" color="primary"></ion-icon>
    </div>
  </div>
  <div class="wrapper">
  
  
      <ion-card class="form-wrapper">
        <ion-card-content>
          <div id="logo">
            <img src="assets/qr.jpg" alt="Logo"/>
          </div>
  
        </ion-card-content>
      </ion-card>



  </div>
  </ion-content>
  