ion-content{
    --background: #e0dfe6;

    #header{
        height: 100%;
        background-image: url("/assets/rosado.jpg");
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 20px;
        
        #app-bar{
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-icon{
                font-size: 24px;
                margin-left: -5px;
            }

            #logo{
                width: 30px;
                height: 30px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                align-self: center;

                img{
                    width: 70%;
                }
            }
        }

        h1{
            font-size: 30px;
            margin-bottom: 5px;
            text-align: center;

        }
        p{
            font-size: 15px;
            line-height: 1.4;
            text-align: center;
        }
    }


    .wrapper{
        position: absolute;
        top: 26%;
        left: 4%;
        right: 4%;

        .form-wrapper{
            box-shadow: 15px;
            border-radius: 20px;
            padding: 15px 10px;

            ion-item{
                --background: #efefef;
                --padding-start: 10px;
                --highlight-height: 0;
                --border-width: 0;
                --padding-top: 0;
                --min-height: 40px;
                margin-bottom: 15px;
                border-radius: 5px;
            }
            ion-icon{
                font-size: 18px;
            }
            ion-input{
                margin-left: 10px;
                font-size: 14px;
            }
        }

        ion-button{
            margin-top: 25px;
        }
    }
    .line-text{
        padding: 2px;
        margin-top: 10px;
        position: relative;
        height: 20px;
        margin-bottom: 10px;

        .lines{
            height: 1px;
            background: #858585;
            display: block;
        }
        .text{
            position: absolute;
            top:-8px;
            left: 50%;
            transform: translateX(-50%);
            background: #fff;
            padding: 0 15px;
            font-size: 12px;
            font-weight: 500;
            color: #5e5e5e;
        }
    }
    .social-wrapper{
        box-shadow: 15px;
        border-radius: 20px;

        .socials{
            display: flex;
            justify-content: center;
            padding: 5px;
            
            ion-button{
                margin: 0 5px;
                --padding-start: 12px;
                --padding-end: 12px;

                ion-icon{
                    font-size: 18px;
                }
            }
            .btn-fb{
                --background: #567aa3;
            }
            .btn-tw{
                --background: #48cff5;
            }
            .btn-go{
                --background: #fd684f;
            }
            .btn-ph{
                --background: #737373;
            }
        }
    }
}

.fuente{
    font-family: 'Oswald', sans-serif;
}