<!-- Tipos de letras utilizadas-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">



<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/estudiante" color="primary"></ion-icon>
      <div></div>
    </div>
  
  </div>
  <div class="wrapper">
  
  <!--Contexto de la app-->
      <ion-card class="custom">
        <ion-card-content>
          <ion-card-title>RegistrAPP</ion-card-title>
          <div class="line-text" >
            <span class="lines"></span>
            <span class="text">¡Contextualizacion!</span>
          </div>
          <p>RegistrApp es una aplicacion movil capaz de ser utilizada en plataformas tanto como Android e iOS 
            que permite que cada alumno registre su propia asistencia mediante el escaneo de un codigo QR
            generado por el docente, el cual, sera leido por la camará del dispositivo movil del estudiante,
             registrando la asistencia como tambien el dia y la hora automaticamente.</p>
          <!--Imagen logo de duoc-->
          <img src="/assets/duoclogo.png">
        </ion-card-content>
      </ion-card>
  </div>

  </ion-content>
  